services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    hostname: prometheus
    volumes:
      - ./prometheus/conf/:/etc/prometheus/
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--web.enable-lifecycle'
    ports:
      - "9090:9090"
    restart: unless-stopped
    networks:
      - monitoring

  order-service1:
    image: cotaansbah/order-service:latest
    container_name: order-service1
    hostname: order-service1
    environment:
      SERVICE_HTTP_PORT: 8080
    ports:
      - "8080:8080"
    restart: unless-stopped
    networks:
      - monitoring

  order-service2:
    image: cotaansbah/order-service:latest
    container_name: order-service2
    hostname: order-service2
    environment:
      SERVICE_HTTP_PORT: 8081
    ports:
      - "8081:8081"
    restart: unless-stopped
    networks:
      - monitoring

  postgres:
    image: postgres:16
    container_name: postgres-grafana
    restart: unless-stopped
    environment:
      POSTGRES_DB: grafana
      POSTGRES_USER: grafana
      POSTGRES_PASSWORD: grafana
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - monitoring

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_DATABASE_TYPE=postgres
      - GF_DATABASE_HOST=postgres:5432
      - GF_DATABASE_NAME=grafana
      - GF_DATABASE_USER=grafana
      - GF_DATABASE_PASSWORD=grafana
      - GF_USERS_ALLOW_SIGN_UP=false
    volumes:
      - ./grafana/config:/etc/grafana
      - ./grafana/logs:/var/log/grafana
    depends_on:
      - postgres
    networks:
      - monitoring

volumes:
  prometheus_data:
  postgres_data:

networks:
  monitoring: